/* Basic body styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/*--- Index page layout ---*/
.index-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/*--- login page Layout ---*/
.login-layout {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Carousel styling for logos */
.logos {
    overflow: hidden;
    padding: 20px 0;
    background: #e0e0e0;
    white-space: nowrap;
    position: relative;
    width: 100%;
}

/* Gradient effect at edges */
.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

/* Animation effect */
@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Reverse animation for bottom carousel */
@keyframes slide-reverse {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

/* Logo images styling */
.logos-slide {
    display: inline-block;
    animation: 50s slide infinite linear;
}

/* Apply the reverse animation to the bottom carousel */
.logos.bottom .logos-slide {
    animation: 50s slide-reverse infinite linear;
    padding-bottom: 10px;
}

.logos-slide img {
    height: 150px;
    width: 300px;
    margin: 0;
}

/* Container with text and buttons */
.container {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    padding: 30px 0;
    width: 100%;
}

.message {
    font-size: 2em;
    color: #333;
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 0.5s;
}

.login-as {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 0.8s;
    font-size: 1.2em;
    color: #555;
    margin-top: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 2s forwards;
    animation-delay: 1.2s;
    margin-top: 15px;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

/* Fade-in animation */
@keyframes fadeIn {
    to { opacity: 1; }
}

/*----Employee signin, customer signin, and customer signup css----*/
/* Centered rectangle */
.login-container {
    background-color: #e6e6e6;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Title at the top */
.login-container h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 15px;
}

/* Form styling */
.form-input {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-input:focus {
    border-color: #007bff;
    outline: none;
}

/* Login button style (same as index page) */
.login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Error message styling */
#error-message {
    display: none;
    color: red;
    text-align: center;
    margin-bottom: 20px; /* Space between the message and form */
    padding: 15px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    font-weight: bold;
    animation: fadeInOut 5s forwards; /* Forward makes it stop at 100% opacity */
}

/* Animation for fading in and out */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Sign up section styling */
.signup-container {
    text-align: center;
    margin-top: 10px;
}

.signup-text {
    font-size: 0.9em;
    color: #666;
}

.signup-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9em;
    margin-top: 5px;
}

.signup-button:hover {
    background-color:  #0056b3;
}
/*----------------------------------------*/

/*-----Store Item css------*/
/* Navigation menu styles */
.nav-menu {
    background-color: #007bff;
    width: 100%;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #0056b3;
}

.nav-link.active {
  background-color: #0056b3;
}

.main-content {
    max-width: 1200px;
    margin: 80px auto 20px auto;
    padding: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
}

.product {
    width: calc(33.33% - 14px);
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: transform 0.2s;
}

.product:hover {
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.product-image {
  width: 100%;
  height: 250px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ddd;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-info {
  text-align: center;
  margin-top: 10px;
  margin-left: 8px;
}

.product-info p {
    margin-bottom: 5px;
}

.add-to-cart {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 1em;
}

.add-to-cart:hover {
    background-color: #0056b3;
}

.cart-icon {
  width: 50px;  /* Set the width of the icon */
  height: auto; /* Keep aspect ratio */
  display: inline-block;
  position: relative; /* Allows positioning of the count badge */
}

.cart-item-count {
  position: absolute;
  top: 10px;  /* Adjust this to position the number */
  right: 200px; /* Adjust this to position the number */
  background-color: red;  /* Background color of the badge */
  color: white; /* Text color */
  border-radius: 50%;
  width: 20px;  /* Width of the badge */
  height: 20px; /* Height of the badge */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;  /* Adjust font size */
  font-weight: bold; /* Optional, to make the number bold */
}

/* Responsive design */
@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        gap: 10px;
    }

    .nav-link {
        display: block;
        text-align: center;
        width: 200px;
    }
}
/*--------------------------------*
